.f0 {
  font-size: 1rem;
}
.f1 {
  font-size: 2rem;
}
.f2 {
  font-size: 3rem;
}
.f3 {
  font-size: 4rem;
}
@media screen and (min-width: 30em) {
  .f0-ns {
    font-size: 1rem;
  }
  .f1-ns {
    font-size: 2rem;
  }
  .f2-ns {
    font-size: 3rem;
  }
  .f3-ns {
    font-size: 4rem;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .f0-m {
    font-size: 1rem;
  }
  .f1-m {
    font-size: 2rem;
  }
  .f2-m {
    font-size: 3rem;
  }
  .f3-m {
    font-size: 4rem;
  }
}
@media screen and (min-width: 60em) {
  .f0-l {
    font-size: 1rem;
  }
  .f1-l {
    font-size: 2rem;
  }
  .f2-l {
    font-size: 3rem;
  }
  .f3-l {
    font-size: 4rem;
  }
}
.lh0 {
  line-height: 1;
}
.lh1 {
  line-height: 2;
}
.lh2 {
  line-height: 3;
}
.lh3 {
  line-height: 4;
}
@media screen and (min-width: 30em) {
  .lh0-ns {
    line-height: 1;
  }
  .lh1-ns {
    line-height: 2;
  }
  .lh2-ns {
    line-height: 3;
  }
  .lh3-ns {
    line-height: 4;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .lh0-m {
    line-height: 1;
  }
  .lh1-m {
    line-height: 2;
  }
  .lh2-m {
    line-height: 3;
  }
  .lh3-m {
    line-height: 4;
  }
}
@media screen and (min-width: 60em) {
  .lh0-l {
    line-height: 1;
  }
  .lh1-l {
    line-height: 2;
  }
  .lh2-l {
    line-height: 3;
  }
  .lh3-l {
    line-height: 4;
  }
}
.error {
  color: red;
  font-weight: bold;
}
@media screen and (min-width: 30em) {
  .error-ns {
    color: red;
    font-weight: bold;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .error-m {
    color: red;
    font-weight: bold;
  }
}
@media screen and (min-width: 60em) {
  .error-l {
    color: red;
    font-weight: bold;
  }
}
.m0 {
  margin: 1rem;
}
.m1 {
  margin: 2rem;
}
.m2 {
  margin: 3rem;
}
.m3 {
  margin: 4rem;
}
.ma {
  margin: auto;
}
.mt0 {
  margin-top: 1rem;
}
.mt1 {
  margin-top: 2rem;
}
.mt2 {
  margin-top: 3rem;
}
.mt3 {
  margin-top: 4rem;
}
.mta {
  margin-top: auto;
}
.mr0 {
  margin-right: 1rem;
}
.mr1 {
  margin-right: 2rem;
}
.mr2 {
  margin-right: 3rem;
}
.mr3 {
  margin-right: 4rem;
}
.mra {
  margin-right: auto;
}
.mb0 {
  margin-bottom: 1rem;
}
.mb1 {
  margin-bottom: 2rem;
}
.mb2 {
  margin-bottom: 3rem;
}
.mb3 {
  margin-bottom: 4rem;
}
.mba {
  margin-bottom: auto;
}
.ml0 {
  margin-left: 1rem;
}
.ml1 {
  margin-left: 2rem;
}
.ml2 {
  margin-left: 3rem;
}
.ml3 {
  margin-left: 4rem;
}
.mla {
  margin-left: auto;
}
.p0 {
  padding: 1rem;
}
.p1 {
  padding: 2rem;
}
.p2 {
  padding: 3rem;
}
.p3 {
  padding: 4rem;
}
.pt0 {
  padding-top: 1rem;
}
.pt1 {
  padding-top: 2rem;
}
.pt2 {
  padding-top: 3rem;
}
.pt3 {
  padding-top: 4rem;
}
.pr0 {
  padding-right: 1rem;
}
.pr1 {
  padding-right: 2rem;
}
.pr2 {
  padding-right: 3rem;
}
.pr3 {
  padding-right: 4rem;
}
.pb0 {
  padding-bottom: 1rem;
}
.pb1 {
  padding-bottom: 2rem;
}
.pb2 {
  padding-bottom: 3rem;
}
.pb3 {
  padding-bottom: 4rem;
}
.pl0 {
  padding-left: 1rem;
}
.pl1 {
  padding-left: 2rem;
}
.pl2 {
  padding-left: 3rem;
}
.pl3 {
  padding-left: 4rem;
}
@media screen and (min-width: 30em) {
  .m0-ns {
    margin: 1rem;
  }
  .m1-ns {
    margin: 2rem;
  }
  .m2-ns {
    margin: 3rem;
  }
  .m3-ns {
    margin: 4rem;
  }
  .ma-ns {
    margin: auto;
  }
  .mt0-ns {
    margin-top: 1rem;
  }
  .mt1-ns {
    margin-top: 2rem;
  }
  .mt2-ns {
    margin-top: 3rem;
  }
  .mt3-ns {
    margin-top: 4rem;
  }
  .mta-ns {
    margin-top: auto;
  }
  .mr0-ns {
    margin-right: 1rem;
  }
  .mr1-ns {
    margin-right: 2rem;
  }
  .mr2-ns {
    margin-right: 3rem;
  }
  .mr3-ns {
    margin-right: 4rem;
  }
  .mra-ns {
    margin-right: auto;
  }
  .mb0-ns {
    margin-bottom: 1rem;
  }
  .mb1-ns {
    margin-bottom: 2rem;
  }
  .mb2-ns {
    margin-bottom: 3rem;
  }
  .mb3-ns {
    margin-bottom: 4rem;
  }
  .mba-ns {
    margin-bottom: auto;
  }
  .ml0-ns {
    margin-left: 1rem;
  }
  .ml1-ns {
    margin-left: 2rem;
  }
  .ml2-ns {
    margin-left: 3rem;
  }
  .ml3-ns {
    margin-left: 4rem;
  }
  .mla-ns {
    margin-left: auto;
  }
  .p0-ns {
    padding: 1rem;
  }
  .p1-ns {
    padding: 2rem;
  }
  .p2-ns {
    padding: 3rem;
  }
  .p3-ns {
    padding: 4rem;
  }
  .pt0-ns {
    padding-top: 1rem;
  }
  .pt1-ns {
    padding-top: 2rem;
  }
  .pt2-ns {
    padding-top: 3rem;
  }
  .pt3-ns {
    padding-top: 4rem;
  }
  .pr0-ns {
    padding-right: 1rem;
  }
  .pr1-ns {
    padding-right: 2rem;
  }
  .pr2-ns {
    padding-right: 3rem;
  }
  .pr3-ns {
    padding-right: 4rem;
  }
  .pb0-ns {
    padding-bottom: 1rem;
  }
  .pb1-ns {
    padding-bottom: 2rem;
  }
  .pb2-ns {
    padding-bottom: 3rem;
  }
  .pb3-ns {
    padding-bottom: 4rem;
  }
  .pl0-ns {
    padding-left: 1rem;
  }
  .pl1-ns {
    padding-left: 2rem;
  }
  .pl2-ns {
    padding-left: 3rem;
  }
  .pl3-ns {
    padding-left: 4rem;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .m0-m {
    margin: 1rem;
  }
  .m1-m {
    margin: 2rem;
  }
  .m2-m {
    margin: 3rem;
  }
  .m3-m {
    margin: 4rem;
  }
  .ma-m {
    margin: auto;
  }
  .mt0-m {
    margin-top: 1rem;
  }
  .mt1-m {
    margin-top: 2rem;
  }
  .mt2-m {
    margin-top: 3rem;
  }
  .mt3-m {
    margin-top: 4rem;
  }
  .mta-m {
    margin-top: auto;
  }
  .mr0-m {
    margin-right: 1rem;
  }
  .mr1-m {
    margin-right: 2rem;
  }
  .mr2-m {
    margin-right: 3rem;
  }
  .mr3-m {
    margin-right: 4rem;
  }
  .mra-m {
    margin-right: auto;
  }
  .mb0-m {
    margin-bottom: 1rem;
  }
  .mb1-m {
    margin-bottom: 2rem;
  }
  .mb2-m {
    margin-bottom: 3rem;
  }
  .mb3-m {
    margin-bottom: 4rem;
  }
  .mba-m {
    margin-bottom: auto;
  }
  .ml0-m {
    margin-left: 1rem;
  }
  .ml1-m {
    margin-left: 2rem;
  }
  .ml2-m {
    margin-left: 3rem;
  }
  .ml3-m {
    margin-left: 4rem;
  }
  .mla-m {
    margin-left: auto;
  }
  .p0-m {
    padding: 1rem;
  }
  .p1-m {
    padding: 2rem;
  }
  .p2-m {
    padding: 3rem;
  }
  .p3-m {
    padding: 4rem;
  }
  .pt0-m {
    padding-top: 1rem;
  }
  .pt1-m {
    padding-top: 2rem;
  }
  .pt2-m {
    padding-top: 3rem;
  }
  .pt3-m {
    padding-top: 4rem;
  }
  .pr0-m {
    padding-right: 1rem;
  }
  .pr1-m {
    padding-right: 2rem;
  }
  .pr2-m {
    padding-right: 3rem;
  }
  .pr3-m {
    padding-right: 4rem;
  }
  .pb0-m {
    padding-bottom: 1rem;
  }
  .pb1-m {
    padding-bottom: 2rem;
  }
  .pb2-m {
    padding-bottom: 3rem;
  }
  .pb3-m {
    padding-bottom: 4rem;
  }
  .pl0-m {
    padding-left: 1rem;
  }
  .pl1-m {
    padding-left: 2rem;
  }
  .pl2-m {
    padding-left: 3rem;
  }
  .pl3-m {
    padding-left: 4rem;
  }
}
@media screen and (min-width: 60em) {
  .m0-l {
    margin: 1rem;
  }
  .m1-l {
    margin: 2rem;
  }
  .m2-l {
    margin: 3rem;
  }
  .m3-l {
    margin: 4rem;
  }
  .ma-l {
    margin: auto;
  }
  .mt0-l {
    margin-top: 1rem;
  }
  .mt1-l {
    margin-top: 2rem;
  }
  .mt2-l {
    margin-top: 3rem;
  }
  .mt3-l {
    margin-top: 4rem;
  }
  .mta-l {
    margin-top: auto;
  }
  .mr0-l {
    margin-right: 1rem;
  }
  .mr1-l {
    margin-right: 2rem;
  }
  .mr2-l {
    margin-right: 3rem;
  }
  .mr3-l {
    margin-right: 4rem;
  }
  .mra-l {
    margin-right: auto;
  }
  .mb0-l {
    margin-bottom: 1rem;
  }
  .mb1-l {
    margin-bottom: 2rem;
  }
  .mb2-l {
    margin-bottom: 3rem;
  }
  .mb3-l {
    margin-bottom: 4rem;
  }
  .mba-l {
    margin-bottom: auto;
  }
  .ml0-l {
    margin-left: 1rem;
  }
  .ml1-l {
    margin-left: 2rem;
  }
  .ml2-l {
    margin-left: 3rem;
  }
  .ml3-l {
    margin-left: 4rem;
  }
  .mla-l {
    margin-left: auto;
  }
  .p0-l {
    padding: 1rem;
  }
  .p1-l {
    padding: 2rem;
  }
  .p2-l {
    padding: 3rem;
  }
  .p3-l {
    padding: 4rem;
  }
  .pt0-l {
    padding-top: 1rem;
  }
  .pt1-l {
    padding-top: 2rem;
  }
  .pt2-l {
    padding-top: 3rem;
  }
  .pt3-l {
    padding-top: 4rem;
  }
  .pr0-l {
    padding-right: 1rem;
  }
  .pr1-l {
    padding-right: 2rem;
  }
  .pr2-l {
    padding-right: 3rem;
  }
  .pr3-l {
    padding-right: 4rem;
  }
  .pb0-l {
    padding-bottom: 1rem;
  }
  .pb1-l {
    padding-bottom: 2rem;
  }
  .pb2-l {
    padding-bottom: 3rem;
  }
  .pb3-l {
    padding-bottom: 4rem;
  }
  .pl0-l {
    padding-left: 1rem;
  }
  .pl1-l {
    padding-left: 2rem;
  }
  .pl2-l {
    padding-left: 3rem;
  }
  .pl3-l {
    padding-left: 4rem;
  }
}
.custom {
  foo: bar;
}
.poss {
  position: static;
}
.posa {
  position: absolute;
}
.posr {
  position: relative;
}
.posf {
  position: fixed;
}
.posstky {
  position: sticky;
}
.ta {
  top: auto;
}
.ra {
  right: auto;
}
.ba {
  bottom: auto;
}
.la {
  left: auto;
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z999 {
  z-index: 999;
}
.z9999 {
  z-index: 9999;
}
.zmax {
  z-index: 2147483647;
}
.zinitial {
  z-index: initial;
}
.zinherit {
  z-index: inherit;
}
.zunset {
  z-index: unset;
}
.za {
  z-index: auto;
}
.fln {
  float: none;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.cln {
  clear: none;
}
.cll {
  clear: left;
}
.clr {
  clear: right;
}
.clb {
  clear: both;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.dtb {
  display: table;
}
.vv {
  visibility: visible;
}
.vh {
  visibility: hidden;
}
.vc {
  visibility: collapse;
}
.ovv {
  overflow: visible;
}
.ovh {
  overflow: hidden;
}
.ovs {
  overflow: scroll;
}
.ova {
  overflow: auto;
}
.ovxv {
  overflow-x: visible;
}
.ovxh {
  overflow-x: hidden;
}
.ovxs {
  overflow-x: scroll;
}
.ovxa {
  overflow-x: auto;
}
.ovyv {
  overflow-y: visible;
}
.ovyh {
  overflow-y: hidden;
}
.ovys {
  overflow-y: scroll;
}
.ovya {
  overflow-y: auto;
}
.ovsa {
  overflow-style: auto;
}
.ovss {
  overflow-style: scrollbar;
}
.ovsp {
  overflow-style: panner;
}
.ovsm {
  overflow-style: move;
}
.ovsmq {
  overflow-style: marquee;
}
.rszn {
  resize: none;
}
.rszb {
  resize: both;
}
.rszh {
  resize: horizontal;
}
.rszv {
  resize: vertical;
}
.cura {
  cursor: auto;
}
.curd {
  cursor: default;
}
.curc {
  cursor: crosshair;
}
.curha {
  cursor: hand;
}
.curhe {
  cursor: help;
}
.curm {
  cursor: move;
}
.curp {
  cursor: pointer;
}
.curt {
  cursor: text;
}
.bxzcb {
  box-sizing: content-box;
}
.bxzbb {
  box-sizing: border-box;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w75 {
  width: 75%;
}
.w100 {
  width: 100%;
}
.wa {
  width: auto;
}
.maw100 {
  max-width: 100%;
}
.mawn {
  max-width: none;
}
@media screen and (min-width: 30em) {
  .w25-ns {
    width: 25%;
  }
  .w50-ns {
    width: 50%;
  }
  .w75-ns {
    width: 75%;
  }
  .w100-ns {
    width: 100%;
  }
  .wa-ns {
    width: auto;
  }
  .maw100-ns {
    max-width: 100%;
  }
  .mawn-ns {
    max-width: none;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .w25-m {
    width: 25%;
  }
  .w50-m {
    width: 50%;
  }
  .w75-m {
    width: 75%;
  }
  .w100-m {
    width: 100%;
  }
  .wa-m {
    width: auto;
  }
  .maw100-m {
    max-width: 100%;
  }
  .mawn-m {
    max-width: none;
  }
}
@media screen and (min-width: 60em) {
  .w25-l {
    width: 25%;
  }
  .w50-l {
    width: 50%;
  }
  .w75-l {
    width: 75%;
  }
  .w100-l {
    width: 100%;
  }
  .wa-l {
    width: auto;
  }
  .maw100-l {
    max-width: 100%;
  }
  .mawn-l {
    max-width: none;
  }
}
.h25 {
  height: 25%;
}
.h50 {
  height: 50%;
}
.h75 {
  height: 75%;
}
.h100 {
  height: 100%;
}
.wa {
  height: auto;
}
.mah100 {
  max-height: 100%;
}
.mahn {
  max-height: none;
}
@media screen and (min-width: 30em) {
  .h25-ns {
    height: 25%;
  }
  .h50-ns {
    height: 50%;
  }
  .h75-ns {
    height: 75%;
  }
  .h100-ns {
    height: 100%;
  }
  .wa-ns {
    height: auto;
  }
  .mah100-ns {
    max-height: 100%;
  }
  .mahn-ns {
    max-height: none;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .h25-m {
    height: 25%;
  }
  .h50-m {
    height: 50%;
  }
  .h75-m {
    height: 75%;
  }
  .h100-m {
    height: 100%;
  }
  .wa-m {
    height: auto;
  }
  .mah100-m {
    max-height: 100%;
  }
  .mahn-m {
    max-height: none;
  }
}
@media screen and (min-width: 60em) {
  .h25-l {
    height: 25%;
  }
  .h50-l {
    height: 50%;
  }
  .h75-l {
    height: 75%;
  }
  .h100-l {
    height: 100%;
  }
  .wa-l {
    height: auto;
  }
  .mah100-l {
    max-height: 100%;
  }
  .mahn-l {
    max-height: none;
  }
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.fwbr {
  font-weight: bolder;
}
.fwlr {
  font-weight: lighter;
}
.fsn {
  font-style: normal;
}
.fsi {
  font-style: italic;
}
.fso {
  font-style: oblique;
}
.fvn {
  font-variant: normal;
}
.fvsc {
  font-variant: small-caps;
}
.f0 {
  font-size: 1rem;
}
.f1 {
  font-size: 1.25rem;
}
.f2 {
  font-size: 1.5rem;
}
.f3 {
  font-size: 2rem;
}
.f4 {
  font-size: 3rem;
}
.fzan {
  font-size-adjust: none;
}
.ffs {
  font-family: serif;
}
.ffss {
  font-family: sans-serif;
}
.ffc {
  font-family: cursive;
}
.fff {
  font-family: fantasy;
}
.ffm {
  font-family: monospace;
}
.ffa {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.fft {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.ffv {
  font-family: Verdana, Geneva, sans-serif;
}
.fefn {
  font-effect: none;
}
.fefeg {
  font-effect: engrave;
}
.fefeb {
  font-effect: emboss;
}
.fefo {
  font-effect: outline;
}
.fstn {
  font-stretch: normal;
}
.fstuc {
  font-stretch: ultra-condensed;
}
.fstec {
  font-stretch: extra-condensed;
}
.fstc {
  font-stretch: condensed;
}
.fstsc {
  font-stretch: semi-condensed;
}
.fstse {
  font-stretch: semi-expanded;
}
.fste {
  font-stretch: expanded;
}
.fstee {
  font-stretch: extra-expanded;
}
.fstue {
  font-stretch: ultra-expanded;
}
.vasup {
  vertical-align: super;
}
.vat {
  vertical-align: top;
}
.vatt {
  vertical-align: text-top;
}
.vam {
  vertical-align: middle;
}
.vabl {
  vertical-align: baseline;
}
.vab {
  vertical-align: bottom;
}
.vatb {
  vertical-align: text-bottom;
}
.vasub {
  vertical-align: sub;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.tala {
  text-align-last: auto;
}
.tall {
  text-align-last: left;
}
.talc {
  text-align-last: center;
}
.talr {
  text-align-last: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.tdo {
  text-decoration: overline;
}
.tdl {
  text-decoration: line-through;
}
.ttn {
  text-transform: none;
}
.ttc {
  text-transform: capitalize;
}
.ttu {
  text-transform: uppercase;
}
.ttl {
  text-transform: lowercase;
}
