.boxShadowNone {
  box-shadow: none;
}
.boxShadowxs {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.boxShadowinner {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.borderNone {
  border: none;
}
.borderNone_hover:hover {
  border: none;
}
.borderWidth0 {
  border-width: 1px;
}
.borderWidth1 {
  border-width: 2px;
}
.borderStyle0 {
  border-style: solid;
}
.borderStyle1 {
  border-style: dotted;
}
@media screen and (min-width: 48rem) {
  .borderNone_s {
    border: none;
  }
  .borderNone_hover_s:hover {
    border: none;
  }
}
@media screen and (min-width: 48rem) and (max-width: 80rem) {
  .borderNone_m {
    border: none;
  }
  .borderNone_hover_m:hover {
    border: none;
  }
}
@media screen and (min-width: 80rem) {
  .borderNone_l {
    border: none;
  }
  .borderNone_hover_l:hover {
    border: none;
  }
}
.fwb {
  font-weight: bold;
}
.f0 {
  font-size: 0.875rem;
}
.f1 {
  font-size: 1rem;
}
.f2 {
  font-size: 1.125rem;
}
.f3 {
  font-size: 1.25rem;
}
.f4 {
  font-size: 1.375rem;
}
.f5 {
  font-size: 1.5rem;
}
.f6 {
  font-size: 1.625rem;
}
.f7 {
  font-size: 1.75rem;
}
.f8 {
  font-size: 1.875rem;
}
.f9 {
  font-size: 2rem;
}
@media screen and (min-width: 48rem) {
  .fwb_s {
    font-weight: bold;
  }
  .f0_s {
    font-size: 0.875rem;
  }
  .f1_s {
    font-size: 1rem;
  }
  .f2_s {
    font-size: 1.125rem;
  }
  .f3_s {
    font-size: 1.25rem;
  }
  .f4_s {
    font-size: 1.375rem;
  }
  .f5_s {
    font-size: 1.5rem;
  }
  .f6_s {
    font-size: 1.625rem;
  }
  .f7_s {
    font-size: 1.75rem;
  }
  .f8_s {
    font-size: 1.875rem;
  }
  .f9_s {
    font-size: 2rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 80rem) {
  .fwb_m {
    font-weight: bold;
  }
  .f0_m {
    font-size: 0.875rem;
  }
  .f1_m {
    font-size: 1rem;
  }
  .f2_m {
    font-size: 1.125rem;
  }
  .f3_m {
    font-size: 1.25rem;
  }
  .f4_m {
    font-size: 1.375rem;
  }
  .f5_m {
    font-size: 1.5rem;
  }
  .f6_m {
    font-size: 1.625rem;
  }
  .f7_m {
    font-size: 1.75rem;
  }
  .f8_m {
    font-size: 1.875rem;
  }
  .f9_m {
    font-size: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .fwb_l {
    font-weight: bold;
  }
  .f0_l {
    font-size: 0.875rem;
  }
  .f1_l {
    font-size: 1rem;
  }
  .f2_l {
    font-size: 1.125rem;
  }
  .f3_l {
    font-size: 1.25rem;
  }
  .f4_l {
    font-size: 1.375rem;
  }
  .f5_l {
    font-size: 1.5rem;
  }
  .f6_l {
    font-size: 1.625rem;
  }
  .f7_l {
    font-size: 1.75rem;
  }
  .f8_l {
    font-size: 1.875rem;
  }
  .f9_l {
    font-size: 2rem;
  }
}
.corange {
  color: #ff6900;
}
.cblack {
  color: #1a1a1a;
}
.cwhite {
  color: #ffffff;
}
.cgrey {
  color: #777777;
}
.cgrey2 {
  color: #a5a5a5;
}
.cgrey3 {
  color: #dddddd;
}
.cred {
  color: #ce3535;
}
.cgreen {
  color: #0f7e4a;
}
.cblue {
  color: #0062b4;
}
.corange_hover:hover {
  color: #ff6900;
}
.cblack_hover:hover {
  color: #1a1a1a;
}
.cwhite_hover:hover {
  color: #ffffff;
}
.cgrey_hover:hover {
  color: #777777;
}
.cgrey2_hover:hover {
  color: #a5a5a5;
}
.cgrey3_hover:hover {
  color: #dddddd;
}
.cred_hover:hover {
  color: #ce3535;
}
.cgreen_hover:hover {
  color: #0f7e4a;
}
.cblue_hover:hover {
  color: #0062b4;
}
.bgcwhite {
  background-color: #f3f3f3;
}
.bgcpink {
  background-color: #fde5e5;
}
.bgcgreen {
  background-color: #e0f3ea;
}
.bgcyellow {
  background-color: #fffdc0;
}
.bgcwhite_hover:hover {
  background-color: #f3f3f3;
}
.bgcpink_hover:hover {
  background-color: #fde5e5;
}
.bgcgreen_hover:hover {
  background-color: #e0f3ea;
}
.bgcyellow_hover:hover {
  background-color: #fffdc0;
}
.bgcwhite_active:active {
  background-color: #f3f3f3;
}
.bgcpink_active:active {
  background-color: #fde5e5;
}
.bgcgreen_active:active {
  background-color: #e0f3ea;
}
.bgcyellow_active:active {
  background-color: #fffdc0;
}
.bdcorange {
  border-color: #ff6900;
}
.bdcblack {
  border-color: #1a1a1a;
}
.bdcwhite {
  border-color: #ffffff;
}
.bdcgrey {
  border-color: #a5a5a5;
}
.bdcgreen {
  border-color: #0f7e4a;
}
.bdcred {
  border-color: #ce3535;
}
.dark .cblack {
  color: #ffffff;
}
.dark .cwhite {
  color: #1a1a1a;
}
@media screen and (min-width: 48rem) {
  .dark .cblack_s {
    color: #ffffff;
  }
  .dark .cwhite_s {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 48rem) and (max-width: 80rem) {
  .dark .cblack_m {
    color: #ffffff;
  }
  .dark .cwhite_m {
    color: #1a1a1a;
  }
}
@media screen and (min-width: 80rem) {
  .dark .cblack_l {
    color: #ffffff;
  }
  .dark .cwhite_l {
    color: #1a1a1a;
  }
}
@media foo {
  .cblack {
    color: #ffffff;
  }
  .cwhite {
    color: #1a1a1a;
  }
}
