<a name="<%= module %>"></a>
<h1 class="uk-heading-bullet">
  <%= module %>
</h1>
<h2 class="uk-h3">
  Usage
</h2>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th style="text-align:left">Class</th>
        <th style="text-align:left">Description</th>
      </tr>
    </thead>
    <tbody>
      <% _.forEach(rules, function(rule) { %>
        <tr>
          <td style="text-align:left">
            <code>
              <%= rule.selector %>
            </code>
          </td>
          <td style="text-align:left">
            <div class="<%= rule.class %>">
              Lorem Ipsum
            </div>
            <% if (typeof(rule.media) !== "undefined") { %>
              <p>
                <span class="uk-text-small uk-label">
                  Breakpoint
                </span>
                <%= rule.media %>
              </p>
              <% } %>
                <code>
                <%= rule.nodes %>
              </code>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>
